// #image_details(data-position-to="window", data-theme="a")

div#image_details(data-position-to="window", data-theme="a", data-overlay-theme="b", class="ui-content")
    img#image_details_thumbnail(src="")
    table(data-role="table", data-mode="reflow")
        tr
            td Filename:
            td.filename
        tr
            td Uploaded at:
            td.upload_time