#image_menu(data-role='popup', data-theme='a')
    ul(data-role='listview', data-inset='true', style='min-width:210px;')
        li(data-role='list-divider') Choose an action
        li
          a#menu_item_view_image_details(href='#') View details
        li
          a#menu_item_delete_image(href='#') Delete